body {
    background-color: #B2EBF2;
}

html {
    scroll-behavior: smooth;
  }
  

nav {
    background-color: #00796B;
    
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    color: white;
    
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}
